Turnstile Data Analysis

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

In [8]:
df1 = pd.read_csv('data/turnstile_160507.txt')
df2 = pd.read_csv('data/turnstile_160514.txt')
df3 = pd.read_csv('data/turnstile_160521.txt')
df4 = pd.read_csv('data/turnstile_160528.txt')
frames = [df1, df2, df3, df4]
df = pd.concat(frames)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 777938 entries, 0 to 195728
Data columns (total 11 columns):
C/A                                                                     777938 non-null object
UNIT                                                                    777938 non-null object
SCP                                                                     777938 non-null object
STATION                                                                 777938 non-null object
LINENAME                                                                777938 non-null object
DIVISION                                                                777938 non-null object
DATE                                                                    777938 non-null object
TIME                                                                    777938 non-null object
DESC                                                                    777938 non-null object
ENTRIES                                                                 777938 non-null int64
EXITS                                                                   777938 non-null int64
dtypes: int64(2), object(9)
memory usage: 71.2+ MB

In [6]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197

In [10]:
df.shape

(777938, 11)

In [28]:
df['entries_dif'] = df['ENTRIES'] - df['ENTRIES'].shift(1)  
# df['exits_dif'] = df['EXITS'] - df['EXITS'].shift(1)
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,entries_dif
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,00:00:00,REGULAR,5639941,1909983,NaN
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,04:00:00,REGULAR,5639991,1909993,50.0
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,08:00:00,REGULAR,5640014,1910024,23.0
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,12:00:00,REGULAR,5640158,1910134,144.0
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/30/2016,16:00:00,REGULAR,5640454,1910197,296.0

In [30]:
df.groupby(['DATE','STATION']).mean()

                                 ENTRIES  \
DATE       STATION
04/30/2016 1 AV             1.560868e+08
           103 ST           1.026021e+07
           103 ST-CORONA    7.018069e+06
           104 ST           4.290655e+08
           110 ST           4.440613e+06
           111 ST           7.016671e+06
           116 ST           7.785299e+07
           116 ST-COLUMBIA  2.018305e+08
           121 ST           1.612813e+06
           125 ST           1.608118e+08
           135 ST           1.049647e+07
           137 ST CITY COL  6.577235e+07
           138/GRAND CONC   3.321467e+08
           14 ST            4.240897e+07
           14 ST-UNION SQ   3.733693e+07
           145 ST           7.775926e+07
           149/GRAND CONC   7.564173e+07
           14TH STREET      4.864951e+05
           15 ST-PROSPECT   1.177916e+07
           155 ST           3.932333e+06
           157 ST           4.082763e+06
           161/YANKEE STAD  5.468773e+07
           163 ST-AMSTERDM  3.282728e+08
           167 ST           1.528359e+08
           168 ST           6.891574e+06
           169 ST           1.672107e+06
           170 ST           8.231528e+07
           174 ST           1.186997e+08
           174-175 STS      1.680983e+06
           175 ST           9.684585e+06
...                                  ...
05/27/2016 SUTPHIN BLVD     1.845999e+06
           SUTPHIN-ARCHER   1.173837e+07
           SUTTER AV        5.593913e+06
           SUTTER AV-RUTLD  9.575685e+06
           THIRTY ST        3.822339e+05
           THIRTY THIRD ST  5.355083e+05
           TIMES SQ-42 ST   1.144094e+08
           TOMPKINSVILLE    1.281571e+06
           TREMONT AV       1.445956e+07
           TWENTY THIRD ST  4.704220e+05
           UNION ST         3.419948e+06
           UTICA AV         7.117238e+06
           V.CORTLANDT PK   5.659179e+06
           VAN SICLEN AV    4.386631e+06
           VAN SICLEN AVE   4.535905e+06
           VERNON-JACKSON   2.590473e+06
           W 4 ST-WASH SQ   4.868678e+07
           W 8 ST-AQUARIUM  1.382436e+06
           WAKEFIELD/241    3.338927e+06
           WALL ST          1.292011e+07
           WEST FARMS SQ    4.878240e+07
           WESTCHESTER SQ   7.944384e+06
           WHITEHALL S-FRY  1.774099e+07
           WHITLOCK AV      3.724477e+07
           WINTHROP ST      8.059517e+06
           WOODHAVEN BLVD   9.278417e+06
           WOODLAWN         5.596345e+06
           WORLD TRADE CTR  3.400759e+06
           YORK ST          1.084916e+07
           ZEREGA AV        8.964586e+06

                            EXITS                                                                 \
DATE       STATION
04/30/2016 1 AV                                                  3.475769e+08
           103 ST                                                4.073987e+07
           103 ST-CORONA                                         6.704437e+06
           104 ST                                                3.519282e+08
           110 ST                                                4.524001e+06
           111 ST                                                3.708516e+06
           116 ST                                                9.426022e+07
           116 ST-COLUMBIA                                       4.276542e+07
           121 ST                                                1.328675e+06
           125 ST                                                9.164234e+07
           135 ST                                                2.012646e+06
           137 ST CITY COL                                       9.113759e+07
           138/GRAND CONC                                        3.207537e+08
           14 ST                                                 3.978029e+07
           14 ST-UNION SQ                                        1.325207e+07
           145 ST                                                1.096288e+08
           149/GRAND CONC                                        2.938785e+07
           14TH STREET                                           1.076771e+05
           15 ST-PROSPECT                                        6.996064e+05
           155 ST                                                2.995247e+06
           157 ST                                                2.737990e+06
           161/YANKEE STAD                                       3.595027e+07
           163 ST-AMSTERDM                                       1.126134e+08
           167 ST                                                7.430467e+07
           168 ST                                                3.017288e+06
           169 ST                                                1.774584e+06
           170 ST                                                1.687101e+08
           174 ST                                                5.283164e+07
           174-175 STS                                           1.124577e+06
           175 ST                                                1.220523e+06
...                                                                       ...
05/27/2016 SUTPHIN BLVD                                          9.968295e+05
           SUTPHIN-ARCHER                                        5.917374e+06
           SUTTER AV                                             7.576359e+06
           SUTTER AV-RUTLD                                       5.572088e+06
           THIRTY ST                                             3.745980e+05
           THIRTY THIRD ST                                       4.350813e+05
           TIMES SQ-42 ST                                        9.019367e+07
           TOMPKINSVILLE                                         3.543616e+05
           TREMONT AV                                            1.278451e+06
           TWENTY THIRD ST                                       2.771576e+05
           UNION ST                                              3.589022e+06
           UTICA AV                                              3.878888e+06
           V.CORTLANDT PK                                        2.047156e+06
           VAN SICLEN AV                                         3.081226e+06
           VAN SICLEN AVE                                        4.691752e+06
           VERNON-JACKSON                                        1.750492e+06
           W 4 ST-WASH SQ                                        4.735466e+07
           W 8 ST-AQUARIUM                                       1.509186e+06
           WAKEFIELD/241                                         3.452126e+06
           WALL ST                                               7.534138e+06
           WEST FARMS SQ                                         8.161968e+06
           WESTCHESTER SQ                                        7.370785e+06
           WHITEHALL S-FRY                                       4.188241e+06
           WHITLOCK AV                                           3.529362e+06
           WINTHROP ST                                           1.433515e+06
           WOODHAVEN BLVD                                        5.391758e+06
           WOODLAWN                                              2.280168e+06
           WORLD TRADE CTR                                       1.766861e+06
           YORK ST                                               9.862646e+06
           ZEREGA AV                                             1.254337e+05

                             entries_dif
DATE       STATION
04/30/2016 1 AV             2.014262e+04
           103 ST          -2.342500e+04
           103 ST-CORONA    5.622543e+04
           104 ST           3.116881e+07
           110 ST           1.232439e+05
           111 ST          -1.749566e+07
           116 ST          -4.554781e+05
           116 ST-COLUMBIA  4.254717e+05
           121 ST          -1.640020e+05
           125 ST           7.448070e+06
           135 ST          -1.418384e+07
           137 ST CITY COL  1.728323e+04
           138/GRAND CONC   5.491226e+07
           14 ST            4.368078e+05
           14 ST-UNION SQ   9.084191e+04
           145 ST           4.844025e+06
           149/GRAND CONC  -2.354413e+07
           14TH STREET     -1.963726e+03
           15 ST-PROSPECT  -3.252248e+04
           155 ST           1.822157e+05
           157 ST          -1.117585e+07
           161/YANKEE STAD -2.041564e+04
           163 ST-AMSTERDM  1.860153e+04
           167 ST           2.184860e+05
           168 ST           1.208060e+05
           169 ST          -7.147799e+04
           170 ST          -1.258839e+05
           174 ST           1.915841e+07
           174-175 STS     -4.818631e+04
           175 ST          -7.977270e+04
...                                  ...
05/27/2016 SUTPHIN BLVD     7.755000e+01
           SUTPHIN-ARCHER   3.455974e+02
           SUTTER AV        4.302500e+02
           SUTTER AV-RUTLD  5.726111e+02
           THIRTY ST        9.926042e+01
           THIRTY THIRD ST  2.167917e+02
           TIMES SQ-42 ST   3.045867e+02
           TOMPKINSVILLE    1.919048e+01
           TREMONT AV       1.948889e+02
           TWENTY THIRD ST  1.613333e+02
           UNION ST         1.783889e+02
           UTICA AV         2.192821e+02
           V.CORTLANDT PK   3.249545e+02
           VAN SICLEN AV    2.311429e+02
           VAN SICLEN AVE   1.952778e+02
           VERNON-JACKSON   2.085641e+02
           W 4 ST-WASH SQ   3.843421e+02
           W 8 ST-AQUARIUM  5.708333e+01
           WAKEFIELD/241    1.809000e+02
           WALL ST          1.481233e+02
           WEST FARMS SQ    1.541667e+02
           WESTCHESTER SQ   3.607778e+02
           WHITEHALL S-FRY  1.877889e+02
           WHITLOCK AV      5.425000e+01
           WINTHROP ST      3.062083e+02
           WOODHAVEN BLVD   2.515351e+02
           WOODLAWN         2.570333e+02
           WORLD TRADE CTR  2.301364e+02
           YORK ST          5.599444e+02
           ZEREGA AV        7.427778e+01

[10371 rows x 3 columns]

In [22]:
df.groupby(['DATE']).mean()

,ENTRIES,EXITS,entries_dif
DATE,,,
04/30/2016,35313457,28245317,-1779.603057
05/01/2016,35253950,28203439,90.942053
05/02/2016,35390818,27944535,-54.076326
05/03/2016,35208137,28033335,-70480.369769
05/04/2016,34622745,27784345,70416.008465
05/05/2016,34716772,28007300,169.667563
05/06/2016,35710352,29230248,1133.831097
05/07/2016,35273052,28543431,-53167.827873
05/08/2016,35216751,28448698,233.022318
05/09/2016,35476945,28456503,46927.277385
05/10/2016,35950497,28731129,5318.205844
05/11/2016,35594403,28811707,214.657253
05/12/2016,35587497,28402327,156.014584
05/13/2016,35798450,28684538,-8.873262
05/14/2016,36005320,28981081,24154.638381
05/15/2016,35541487,28671361,10961.712826
05/16/2016,35786237,29188116,2530.531759
05/17/2016,35389566,28510384,13244.188180
05/18/2016,35843278,28636334,-489.374715
05/19/2016,36070028,28695007,-46400.070252
05/20/2016,35658320,28336576,-3184.537905
05/21/2016,37004913,29820072,64496.413776
05/22/2016,36253587,29743438,101.738136
05/23/2016,35850443,29474496,-56269.690338
05/24/2016,36331315,30553919,-126.354610
05/25/2016,35992188,29757286,216.715344
05/26/2016,35780351,29546247,-7635.866180
05/27/2016,36863992,31135319,92.241280

1. exits + entries by time block
2. exits + entries by station
3. exits + entries by time block and station

In [5]:
df['STATION'].value_counts()

NameError: name 'df' is not defined